
//color sets

// Action Colors
$orange: #f26529;
$action-primary-color: #f26529;
$action-secondary-important-color: #4b3f99;
$action-secondary-color: #9e91b6;


// Background Colors
$important-bg-color: #f1d8ca;
$bg-color-1: #f1ece6;
$bg-color-2: #f2e3d3;
$pad-color-1: #009444;
$pad-color-2: #0795be;
$menu-bg-color: #ffffff;

$font-color: #494949;

// Gradient Styles
$icon-gradient:  linear-gradient(0, hsl(277, 21%, 39%) 50%, hsl(350, 68%, 64%) 100%);
$gradient-1:  linear-gradient(90deg, rgba(104,79,120,1) 50%, rgba(226,100,121,1) 100%);
$gradient-2:  linear-gradient(90deg, rgba(242,101,41,1) 50%, rgba(247,148,30,1) 100%);